---
title: GitLab Documentation
---
<div class="row">
  <ul class="topics" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <% if ENV['NANOC_ENV'] == 'production' %>
      <% @config[:products].each do |name, product| %>
        <% if product[:expose] == true %>
          <li class="topic topic-<%= product[:slug] %>">
            <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper">
                <h2 itemprop="name"><%= product[:short_name] %></h2>
                <p><%= product[:description] %></p>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <% @config[:products].each do |name, product| %>
        <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
          <li class="topic topic-<%= product[:slug] %>">
            <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper">
                <h2><%= product[:short_name] %></h2>
                <p><%= product[:description] %></p>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="row">
  <ul class="topics">
    <li class="subtopic topic-ci">
      <a href="ee/ci/yaml/">
        <div class="wrapper">
          <h2>CI/CD YAML reference</h2>
          <p>Learn how to configure <code>.gitlab-ci.yml</code> for your project.
          </p>
        </div>
      </a>
    </li>
    <li class="subtopic topic-api">
      <a href="ee/api/">
        <div class="wrapper">
          <h2>API</h2>
          <p>Automate GitLab via a simple and powerful API.</p>
        </div>
      </a>
    </li>
    <li class="subtopic topic-ssh">
      <a href="ee/ssh/">
        <div class="wrapper">
          <h2>SSH</h2>
          <p>Learn how to create an SSH key pair and configure GitLab to
             authenticate via SSH from your local computer.
          </p>
        </div>
      </a>
    </li>
    <li class="subtopic topic-com-settings">
      <a href="ee/user/gitlab_com/">
        <div class="wrapper">
          <h2>GitLab.com settings</h2>
          <p>
          Information about the settings that are used on GitLab.com, like SSH
          keys fingerprints, shared Runners configuration, etc.
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
